.App {
  text-align: center;
}

.App-logo {
  height: 80px;
}

.App-Linklist {
  display: inline-block;
  padding: 0 20px;
  font-size: x-large;
}

.App-List {
  text-decoration: none;
  color:skyblue;
}

.App-header {
  background-color: #222;
  height: 200px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 2em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
